.container {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;

}

tbody {

        align-items: center;
}

body {
        background-color: hsl(212, 40%, 12%);
}